body {
    max-width:2000px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:50px;
    background-color: lime;
    color:black;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-weight:bolder;
    text-align: center;
    padding:20px;
    text-decoration: none;
    transition:all 0.5s ease;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    transform:scaleX(1.5);
}

.left {
    float: left;
}

footer {
    display: block;
    color: black;
    text-align: center;
    padding:20px;
    background-color: lime;
}